.feynman__link {
  font-size: 36px;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  transition: opacity 0.5s linear;
}

.feynman__link:hover {
  opacity: 70%;
}
